body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
}

.df {
  display: flex;
}

.f1 {
  flex: 1;
}

.w600 {
  width: 600px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb50 {
  margin-bottom: 50px;
}


.cRed {
  color: #ff0000;
}

.lh20 {
  line-height: 20px;
}

.lh40 {
  line-height: 40px;
}

.lh60 {
  line-height: 60px;
}

.tdu {
  text-decoration: underline;
}

.tc {
  text-align: center;
}

.cp {
  cursor: pointer;
}
