body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

pre {
  margin: 0;
  white-space: pre-line;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.df {
  display: flex;
}

.f1 {
  flex: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.p0 {
  padding: 0;
}

.fz50 {
  font-size: 50px;
}

.w750 {
  width: 750px;
}

.h300 {
  height: 300px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mb50 {
  margin-bottom: 50px;
}

.bgWhite {
  background-color: #fff;
}

.bgGray {
  background-color: #F4F4F4;
}

.bgFc {
  background-color: #FCFCFC;
}

.bgF5 {
  background-color: #F5F5F5;
}

.bgBlue {
  background-color: #508EF8;
}

.bgEd {
  background-color: #ededed;
}

.bgYel {
  background-color: #ffff00;
}

.bgRed {
  background-color: #ff0000;
}

.cRed {
  color: #ff0000;
}

.lh20 {
  line-height: 20px;
}

.lh40 {
  line-height: 40px;
}

.lh60 {
  line-height: 60px;
}

.lh300 {
  line-height: 300px;
}

.tdu {
  text-decoration: underline;
}

.tc {
  text-align: center;
}

.cp {
  cursor: pointer;
}

.bb1 {
  border-bottom: 1px solid #ccc;
}
